@{
    ViewBag.Title = "FinancialPlaning";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<!-- <figure class="top-scren"> -->
<!-- banner -->
<section class="bannr-sec finance">
    <div class="bannr-outr">
        <div class="container">
            <div class="bannr-innr wow fadeInUp" data-wow-delay="0.5s">
                <h1>Financial Planning</h1>
                <!-- <h5>Proin gravida nibh vel velit auctor alique enean sollicitudin</h5> -->
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- new mouse start -->
    <div class="ng-scope" id="content-view">
        <div style="display: block;" class="ng-scope" id="mouse-scroll">
            <div><span class="unu"> </span> <span class="doi"> </span> <span class="trei"> </span> </div>
        </div>
    </div>
    <!-- new mouse ends -->
</section>

<!-- long-term -->
<section class="hm long-term text-center">
    <div class="container">
        <div class="long-outr commn-outr">
            <p>
                Financial planning is a very broad term and includes even the little decisions we make in everyday life to manage our finances such as deciding to take a taxi or a bus, to cook or order in. Long term as well as short term financial planning from an early age is crucial for a secure future. We at Wealthclock help you make your very own financial plan for your secure future.
            </p>
            <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
        </div>
    </div>
</section>
<!-- end long-term -->
<!-- financial -->
<section class="why-us-sec wow fadeInUp clearfix">
    <div class="commn-outr financial-sec">
        <div class="container">
            <div class="why-txt">
                <p>

                    Financial planning is the process of understanding ones current income and identifying investment options keeping in mind estimates for future income and expenditure. Simply put it is the act of setting aside money today for the expected and unexpected expenditures of tomorrow.

                </p>
                <p>

                    Financial planning is not just about the money. It also looks at ones habits, priorities and nature. Often it's personal values that take precedence -such as wasteful spending tendencies, force of habit and a general unwillingness to save today for tomorrow will have a direct impact on how you manageyour money. Your financial plan has to take all your habits in mind and build a viable plan.
                </p>

                <p>
                    Working with an independently owned financial planning firm allows you to explore a range of potential products and services and how they may benefit you. Strategies can be specifically targeted towards the goals that are most important to you, such as retirement and rainy-day funds.
                </p>
                <p>
                    Financial Planning requires a forensic approach to investigating your financial risks and opportunities. Here at wealthclock,we insist on learning all about you before aligning the appropriate financial services, strategies and structures to your unique situation and personal goals.
                </p>
            </div>
            <div class="why-pic">
                <img src="@Url.Content("~/images/financial-plan.png")" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- end financial -->
<!-- financial tab -->
<figure class="financial-tab wow fadeInUp clearfix">
    <div class="container">
        <div class="commn-outr">
            <ul class="nav nav-tabs responsive">
                <li class="active"><a data-toggle="tab" href="#menu1">Appraise</a></li>
                <li><a data-toggle="tab" href="#menu2">Goals</a></li>
                <li><a data-toggle="tab" href="#menu3">Strategy</a></li>
                @*<li><a data-toggle="tab" href="#menu4">Foundation</a></li>*@
                <li><a data-toggle="tab" href="#menu5">Balance</a></li>
            </ul>
            <div class="tab-content responsive">
                <div id="menu1" class="tab-pane fade in active">
                    <div class="financial-outr">
                        <div class="financial-txt">
                            <p>
                                We take stock of the present financial position to answer the question 'Where do we stand today'. Whats the current income and expense, what is the sum saved so far, what is the current value of investments and the potential of the current investments.
                            </p>

                        </div>
                        <div class="fianancial-graph">
                            <img src="@Url.Content("~/images/financial-graph.png")" alt="" />
                        </div>
                    </div>
                </div>

                <div id="menu2" class="tab-pane fade">
                    <div class="financial-outr">
                        <div class="financial-txt">
                            <p>
                                Clear identification of your goal will help developing a plan to achieve it. Assessing and prioritizing your goals will help identify cost of goals and how to invest today to achieve it.
                            </p>

                        </div>
                        <div class="fianancial-graph">
                            <img src="@Url.Content("~/images/Goal.png")" alt="" />
                        </div>
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <div class="financial-outr">
                        <div class="financial-txt">
                            <p>
                                We develop a plan of investment for you to achieve your goals. We capitalize on your strengths and provide solutions to improve returns from underperforming investments.
                            </p>


                        </div>
                        <div class="fianancial-graph">
                            <img src="@Url.Content("~/images/strategy.png")" alt="" />
                        </div>
                    </div>
                </div>

                <div id="menu5" class="tab-pane fade">
                    <div class="financial-outr">
                        <div class="financial-txt">
                            <p>
                                Goals and strategies must be in sync with performance of investments and affordability. A balance must be sought between the income projections, ready cash flow and risk appetite. The idea is to make investing a comfortable exercise that achieves the goals within time without compromising today.
                            </p>

                        </div>
                        <div class="fianancial-graph">
                            <img src="@Url.Content("~/images/balance.png")" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</figure>
<!-- end financial tab -->

<article class="finance-brief wow fadeInUp">
    <div class="container">
        <div class="finance-brief-inn">
            <p>
                <strong>No two financial plans are exactly the same.</strong> That’s why seeking financial advice is so important. According to the
                Industry Research, 50% of India’s are concerned they do not have enough money to retire on. In our experience,
                we also know that those who do have enough, are keen to ensure the money they have lasts throughout retirement
                and can be transferred safely to the next generation.
            </p>
            <p>
                Our financial planners offer services to those who are simply trying to improve their current wealth position and secure their future.
            </p>
        </div>
    </div>
</article>
<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script>

    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if ($(this).text().trim() == '- Solutions') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '1') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>


